/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
:root{
  --text-color: #000000;
  --bg-color: #ffffff;
  --text-weight: 400;
--title-text-weight: 700;
}

.page {
 
  max-inline-size: 1440px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--text), "arial", sans-serif;
  font-variation-settings: "wght" var(--text-weight);
  background-color: var(--bg-color); 
  color: var(--text-color);
   background-image: 
   repeating-linear-gradient( #d3d3d3 0px 2px, transparent 2px 4px), 
   repeating-linear-gradient( 90deg, #d3d3d3 0px 2px, transparent 2px 4px);
   background-size: cover;
   background-attachment: fixed;

}
.header{
  /* inline-size: 1280px;
  block-size: 100lvh; */
  font-family: var(--main-accent-text);
  inline-size: 696px;
  block-size: 364px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid tomato;
  margin: auto;
}

.theme-menu__button{
  font-family: var(--main-accent-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  background-color: transparent;

}

.header__logo{
  font-family: var(--main-accent-text);
  font-weight: 400;
  font-size: 65px;
  line-height: 65px;
}

.header__title{
  font-family: var(--main-accent-text);
  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
}